@import "tailwindcss";


@theme {
  --font-display: "Pacifico", cursive;
  --font-body: "Poppins", sans-serif;
  --font-playwrite: "Playwrite NO", cursive;
  --font-sansita: "Sansita", sans-serif;
}
@keyframes fall {
  0% {
    transform: translateY(-50px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-fall {
  position: absolute;
  top: 0;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
